<%- include('../partilas/header'); -%>
</section>
<div class="container-fluid">
    <h1 style="text-align: center;">Thank you!, I Will Get Touch With You Shortly!</h1>
</div>
<script src="https://propu.sh/pfe/current/tag.min.js?z=3777834" data-cfasync="false" async></script>

<%- include('../partilas/footer'); -%>
