<footer class="footer-footer">

  <!-- Footer Elements -->
  <div class="container-fluid">

    <div class="row rxnus">
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="copyright-footer">
                      <p style="padding-left: 40px">Copyright © <span>M.Ashraf 2020</span>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div>
                      <i class="fab fa-facebook fa-2x icons-footer" style="padding-right: 40px;padding-left: 40px;"></i>
                      <i class="fab fa-twitter fa-2x icons-footer" style="padding-right: 40px"></i>
                      <i class="fab fa-instagram fa-2x icons-footer"></i> 
                 </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="desiend-footer" >
                      <p style="padding-left: 40px">Designed by <span>M.Ashraf</span></p>
                  </div>
              </div>

          </div>
  
  </div>
</footer>
<!-- Footer -->


    <script src="bootstrap1.js"  crossorigin="anonymous"></script>
    <script src="boostrap2.js"  crossorigin="anonymous"></script>
</body>
</html>